.slick-slider {
  width: 88%;
  margin: auto;
  background: rgb(14, 13, 13);
}

body .slick-prev,
body .slick-next {
  height: 45px;
  width: 40px;
  background: grey !important;
  z-index: 100;
}

button {
  transition: 300ms;
  @apply m-3 px-3 py-2 rounded-md text-base text-gray-400 bg-gray-100 hover:bg-gray-200/30 hover:shadow-lg
}
